.slideopen{
	position:fixed;
	left:97.80%;
	top:300px;
}

.chat-content {
	display:none;
    position:fixed;
	z-index:1;
    background-color:#ffffff;
    margin-left:75%;
    margin-top:80px;
    border: 0px;
    width:25%;
	height:100%;
	min-width:60px;
    box-shadow: 1px 1px 10px #a9a9a9;
	border-top-left-radius: 10px;
	animation-name: animateright;
    animation-duration: 0.4s;
}
@keyframes animateright {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}

/* The Close Button */
.close {
    color:#ffffff;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.chat-header {
    padding: 2px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

ul.tab{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	border-bottom:1px solid #ccc;
}
ul.tab li{
	float:left;
}
ul.tab li a{
	display:inline-block;
	text-align:center;
	padding:5px;
	font-size:15px;
	text-decoration:none;
}

ul.tab li a:focus,.active{
	background-color:#ccc;
}

.chat-body {
	padding:5px 16px 0px;
	height:65%;
	overflow:auto;
}
.textbox{
	padding:3% 2%;
	width:100%;
	border-width:0 0 1px 0;
	border-bottom-color:green;
}

.chat-footer {
    padding: 20px 16px 0px;
}
.global_chat{
	display:none;
	height:100%;
	width:100%;
	padding-top:20px;
}
.people_online{
	display:none;
	height:100%;
	width:100%;
}
.global_msg{
  border:1px;
	margin-bottom:2px;
	padding:10px;
	border-radius:10px;
	color:white;
	background-color:#8888ff;
}
.ctext{
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.black_bar{
	height:28px;
	padding: 2px 8px 0px 15px;
	background-color:#d1d1d1;
	border-top-left-radius: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style:30px;
	font-weight: bold;
}
