@keyframes example{
		0%{
		opacity:0;
		}
		25%{
		opacity:0.25
		}
		50%{
		opacity:0.50;
		}
		75%{
		opacity:0.75;
		}
		100%{
		opacity:1;
		}
	}

	.container {
	animation-name:example;
	animation-duration:1s;
	background-color:#ffffff;
    height:50%;
	min-height:150px;
    border:1px #d3d3d3;
    min-width:400px;
    width: 60%;
	margin-bottom:5px;
	box-shadow: 1px 1px 10px #a9a9a9;
	transition-duration:0.3s;
	}
	.container:hover{
		width:61%;
		box-shadow: 2px 2px 10px #999999;
	}
	.widget {
	font-size:20px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	margin-bottom:100px;
	}

	.ansbutton{
		width:100px;
		height:30px;
		margin-right:5px;
		margin-bottom:6px;
		background-color:white;
		color:#4CAF50;
		border:1px solid #4CAF50;
		transition-duration:0.4s;
	}
	.ansbutton:hover{
		background-color:#4CAF50;
		color:white;
	}
	.upvotebutton{
		width:100px;
		height:30px;
		margin-right:5px;
		margin-bottom:6px;
		background-color:white;
		color:#008CBA;
		border:1px solid #008CBA;
		transition-duration:0.4s;
	}
	.upvotebutton:hover{
		background-color:#008CBA;
		color:white;
	}
	.viewansbutton{
		width:100px;
		height:30px;
		margin-right:5px;
		margin-bottom:6px;
		background-color:white;
		color:#f44336;
		border:1px solid #f44336;
		transition-duration:0.4s;
	}
	.viewansbutton:hover{
		background-color:#f44336;
		color:white;
	}
	.dbody{
		width:100%;
		height:100%;
		margin-top:80px;
	}



	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color:green;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #dd0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {	width:50%;
				min-height:200px;
				min-width:200px;
				height:50%;
			}

.modal-footer {
    padding: 20px 16px 10px;
}

.ansbox{
	font-size:18px;
	font-family:"Helvetica Neue",Helvetica,Arial,default;
	padding: 5px 150px ;
	min-height: 200px;
	border-bottom: 1px solid #d3d3d3;
}
.qubox{
	padding: 2px 16px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:22px;
	border-bottom:1px solid #d3d3d3;
	padding-bottom:5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #eeeeee;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.ans_container{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 0px;
	width: 80%;
	height: 100%;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	animation-name: animatetop;
	animation-duration: 0.4s;
}
.scroll_ans{
	width:100%;
	height:73%;
	overflow:auto;
}
.imgclass{
	width:50px;
	height:50px;
	margin-top:5px;
	border-radius:100%;
}
.postedbytext{
	float: right;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	color: #535353;
}

.form{
	width:50%;
	padding: 7px;
	border-radius: 2px;
	border:1px;
	margin-left:10px;
	min-width: 300px;
	margin-top: 10px;
}
